@media (max-width: 600px) {
    html {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
    }


    body {
        font-family: 'Golos Text', sans-serif;
        color: #F29100;
        overflow-x: hidden;
        margin: 0;
        background-color: rgb(251, 251, 251);
        display: flex;

    }

    header {
        width: 100vw;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        border-bottom: 2px solid #F29100;
        box-shadow: rgba(227, 227, 230, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 0;
        transition: 1s;
    }


    header>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    #logo {
        display: flex;
        flex-direction: row;
        width: 350px;
        justify-content: space-between;
        align-items: end;
    }

    #topnav {
        display: none;
        width: 100vw;

    }

    .icon {
        display: block;
        padding-bottom: 20px;
    }

    .icon img {
        width: 50px;

    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    li {
        margin: 10px;
        padding: 10px 5px;
        list-style: none;
        font-size: 24px;
    }


    .aheader {
        text-decoration: none;
        transition: 0.5;
    }

    .aheader:hover {
        text-decoration: none;
        transition: 0.5;
        color: white;
    }

    header a {
        color: white;
        transition: 0.5s;
    }

    .mudaa {
        color: white;
        font-weight: 600;
        transition: 0.2s;
    }

    .mudaa:hover {
        color: white;
        border-bottom: 4px solid white;
    }

    .imglogo,
    #imglogohome {
        width: 100px;
        transition: 1s;
    }

    ul {
        width: 300px;
    }

    main {
        margin-top: 160px;
        display: flex;
        justify-content: center;
    }

    .h2psg {
        text-align: center;
        color: white;
        font-size: 40px;
        background-color: #F29100;
        padding: 50px 0;
        margin: 0 0 40px 0;
        width: 100vw;
        border: 2px solid #F29100;

    }

    .psg-card {
        border-bottom: 20px solid #F29100;
        width: 100vw;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin-bottom: 100px;
    }

    .psg-card h3 {
        font-size: 30px;

    }

    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    input {
        width: 300px;
        height: 30px;
        border: 3px solid lightgray;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        color: gray;
    }

    input:focus {
        outline-color: #F29100;
    }


    button {
        padding: 10px;
        font-size: 30px;
        font-weight: 700;
        margin: 60px 30px 0 30px;
        width: 300px;
        height: 60px;
        border: 0;
        border-radius: 5px;
        background-color: #F29100;
        color: white;
        transition: 0.5s;
    }

    button:hover {
        border: 4px solid #F29100;
        background-color: white;
        color: #F29100;
    }

    #aviso {
        width: 360px;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;

    }

    .avisocor1 {
        border: 3px solid rgb(0, 176, 0);
        color: rgb(0, 176, 0);
        padding: 10px 20px;
        border-radius: 50px;
    }

    .avisocor2 {
        border: 3px solid rgb(255, 45, 45);
        color: rgb(255, 45, 45);
        padding: 10px 20px;
        border-radius: 50px;
    }

    #psgdirect {
        flex-direction: column;
        background-color: #004587;
        width: 360px;
        color: white;
        align-items: center;
        justify-content: center;
    }

    #psgdirect h2 {
        padding: 0 25px;
    }

    #psgdirect>a {
        color: white;
        text-decoration: none;
        transition: 1s;
    }

    #psgdirect>a:hover {
        text-decoration: underline;

    }

    h2 {
        font-size: 30px;
        margin: 0;
        padding-bottom: 20px;
    }

    #divhomepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #divhomepage>div {
        margin: 0;
        margin-top: 50px;
        display: flex;
        padding: 80px 0 40px 0;
    }

    #divhomepage>div h2 {
        font-size: 50px;
    }

    #quemsomos {
        width: 300px;
    }

    #cursos {
        flex-direction: column;
        background-color: #F29100;
        width: 100vw;
        color: white;
        align-items: end;

    }

    

    #cursos>div {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;

    }

    #cursos>div>div {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    #cursos h2 {
        padding-right: 40px;
    }

    #cursos h3 {
        text-align: end;
        font-size: 40px;
        padding-right: 40px;
        margin-bottom: 100px;
    }

    #cursos li{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0;
        > p {text-align: end;}
    }



    #local {
        flex-direction: column;

    }

    #local>div {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    #local>div>div {
        margin-top: 40px;
    }

    #local a {
        color: #F29100;
    }

    #local a:hover {
        color: #F29100;
        text-decoration: none;
    }

    #local iframe {
        width: 300px;
        height: 300px;
    }

    #contatos {
        flex-direction: column;
        background-color: #F29100;
        width: 100vw;
        color: white;
        align-items: center;
    }

    #contatos>div {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: end;

    }

    #contatos>div>div {
        display: flex;
        flex-direction: column;
        align-items: end;



    }


    h3 {
        font-size: 20px;
    }



    p {
        font-size: 24px;
    }

    #notas {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0 40px 0;

    }

    #notas h2 {
        font-size: 50px;
    }

    #notas>div {
        display: flex;
        font-size: 30px;
        margin: 40px 0;
        font-weight: 600;
        flex-direction: column;
    }

    #notas>div>div {
        margin-bottom: 50px;
    }

    #notas input {
        font-size: 40px;
        width: 80px;
        height: 40px;
        margin: 0px 20px;

    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    #presenca {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #presenca h2 {
        font-size: 50px;
    }


    #presenca input {
        width: 80px;
    }

    #presenca form {
        margin-top: 40px;
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1600px;
        margin-bottom: 200px;
    }

    #presenca label {
        font-size: 16px;
        font-weight: 700;
    }

    #presenca form>div {
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0 10px;

    }

    #resultadoaluno {
        border-top: 4px solid #F29100;
        background-color: white;
        height: 300px;
        width: 100vw;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #resultadoaluno button,
    #resultadoaluno p {
        margin-top: 20px;
    }

    #result {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        height: 50px;
        margin: 0 10px;

    }

    #case1, #case2 {
        font-size: 20px;
    }

    .aprov {
        color: rgb(0, 176, 0);
        font-weight: 700;
        width: 300px;
    }

    .reprov {
        color: rgb(255, 45, 45);
        font-weight: 700;
        width: 300px;
    }

    .recup {
        color: rgb(252, 185, 0);
        font-weight: 700;
        width: 300px;
    }


    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .icon {
        overflow: hidden;
    }

}