@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Golos Text', sans-serif;
    color: #F29100;
    overflow-x: hidden;
    margin: 0;
    background-color: whitesmoke;
}

header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #F29100;
    margin-bottom: 100px;
    box-shadow: rgba(227, 227, 230, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 100px;
    padding: 10px;
    transition: 1s;
}

header:hover {
    background-color: #F29100;
    transform: scale(1.02);
    transform-origin:top;
}


header>div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 10px;
    padding: 10px 5px;
    list-style: none;
    font-size: 24px;
}


.aheader {
    text-decoration: none;
    transition: 0.5;
}

.aheader:hover {
    text-decoration: none;
    transition: 0.5;
    color: #F29100;
}

header a {
    color: gray;
    transition: 0.5s;
}

header a:hover {
    color: #F29100;
}

.mudaa {
    color:white;
    font-weight: 600;
    transition: 0.2s;
}

.mudaa:hover {
    color: white;
    border-bottom: 4px solid white;
}

.imglogo, #imglogohome{
    width: 100px;
    padding: 20px 0;
    transition: 1s;
}

ul {
    width: 900px;
}

main {
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.h2psg {
    text-align: center;
    color: white;
    font-size: 60px;
    background-color: #F29100;
    padding: 50px 0;
    margin: 0 0 40px 0;
    width: 1400px;
    border: 2px solid #F29100;

}

.psg-card {
    border-bottom: 20px solid #F29100;
    width: 1400px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 100px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

input {
    width: 400px;
    height: 30px;
    border: 3px solid lightgray;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: gray;
}

input:focus {
    outline-color: #F29100;
}


button {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin: 60px 30px 0 30px;
    width: 500px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    background-color: #F29100;
    color: white;
    transition: 0.5s;
}

button:hover {
    border: 4px solid #F29100;
    background-color: white;
    color: #F29100;
}

#aviso {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

.avisocor1 {
    border: 3px solid rgb(0, 176, 0);
    color: rgb(0, 176, 0);
    padding: 10px 20px;
    border-radius: 50px;
}

.avisocor2 {
    border: 3px solid rgb(255, 45, 45);
    color: rgb(255, 45, 45);
    padding: 10px 20px;
    border-radius: 50px;
}

#psgdirect {
    flex-direction: column;
    background-color: #004587;
    width: 1000px;
    color: white;
    align-items: center;
}

#psgdirect>h2>a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

#psgdirect>h2>a:hover {
    text-decoration: underline;

}


h2 {
    font-size: 80px;
    margin: 0;
    padding-bottom: 20px;
}

#divhomepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divhomepage>div {
    margin-top: 50px;
    display: flex;
    padding: 100px;
}

#quemsomos {
    width: 1000px;
}

#quemsomos>div>img {
    width: 400px;
    margin: 50px;
}

#cursos {
    flex-direction: column;
    background-color: #F29100;
    width: 100vw;
    color: white;
    align-items: center;

}

#cursos>div {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#cursos>div>div {
    display: flex;
    flex-direction: column;
    align-items: end;



}

#local {
    flex-direction: column;

}

#local>div {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#local>div>div {
    margin-top: 40px;
}

#local a {
    color: #F29100;
}
#local a:hover {
    color: #F29100;
    text-decoration: none;
}

#contatos {
    flex-direction: column;
    background-color:#F29100;
    width: 100vw;
    color: white;
    align-items: center;
}

#contatos>div {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#contatos>div>div {
    display: flex;
    flex-direction: column;
    align-items: end;



}


h3 {
    font-size: 20px;
}



p {
    font-size: 24px;
}

#notas {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 40px 0;

}

#notas>div {
    display: flex;
    font-size: 30px;
    margin: 40px 0;
    font-weight: 600;
}

#notas input {
    width: 80px;
    height: 40px;
    margin: 0px 20px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#presenca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#presenca input {
    width: 80px;
}

#presenca form {
    margin-top: 40px;
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#presenca label {
    font-size: 24px;
}

#presenca form>div {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 200px;
    margin-bottom: 0;
}

.aprov {
    color: rgb(0, 176, 0);
    font-weight: 700;
    width: 1400px;
}

.reprov {
    color: rgb(255, 45, 45);
    font-weight: 700;
    width: 1400px;
}
